[submodule "dot-hugo-documentation-theme"]
	path = dot-hugo-documentation-theme
	url = https://github.com/themefisher/dot-hugo-documentation-theme
[submodule "themes/Dot"]
	path = themes/Dot
	url = https://github.com/themefisher/dot-hugo-documentation-theme
